.tw-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
  img {
    border-radius: .5em;
  }
}

@media (max-width: 1199px) {
  .tw-table {
    grid-template-columns: 1fr;
  }
}